<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2022SC653_2022VM650</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="compact-header">
        <div class="container">
            <div class="header-content">
                <img src="https://catolica.edu.sv/wp-content/uploads/2016/01/logoth.jpg" alt="Logo" class="header-logo">
                <h1 class="header-title">Comentarios por Libros</h1>
                <p class="header-subtitle">Seleccione el autor → Seleccione el Libro → Se muestran los comentarios existentes → Adicione un nuevo comentario</p>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
