@model List<L02P02_2022SC653_2022VM650.Models.Autore>
@{
    ViewData["Title"] = "Comentarios por Libros - Seleccionar Autor";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <ul class="progressbar">
            <li class="active">Autores</li>
            <li>Libros</li>
            <li>Comentarios Existentes</li>
            <li>Nuevo Comentario</li>
        </ul>

        <div class="text-msg">
            @Html.Raw("<h2>Seleccione un autor:</h2>")
        </div>

        @using (Html.BeginForm("Autorseleccionado", "Prototipo01", FormMethod.Get, new { @class = "container" }))
        {
            <div class="author-grid">
                @foreach (var autor in Model)
                {
                    <div class="author-card">
                        <div class="author-info">
                            @Html.DisplayFor(modelItem => autor.Autor, new { htmlAttributes = new { @class = "author-name" } })
                        </div>
                        <div class="author-actions">
                            @Html.Label("idAutor", "Seleccionar:", new { @class = "label-seleccion" })
                            <button type="submit" name="idAutor" value="@autor.Id" class="btn-select">Seleccionar</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>
